<a href="https://colab.research.google.com/github/prakha10/data-visualization.github.io/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
%%bigquery --project datavids
SELECT *
FROM  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
limit 7

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6

[7 rows x 9 columns]

In [ ]:
%%bigquery --project datavids

SELECT MAX(start_station_name) as max_start_station_name
FROM  `bigquery-public-data.austin_bikeshare.bikeshare_trips`

  max_start_station_name
0  cesar Chavez/Congress

#For the second most popular starting station.

In [ ]:
%%bigquery --project datavids
SELECT MAX(start_station_name) as second_most_start_station_name
FROM  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name != (SELECT MAX(start_station_name) as max_start_station_name FROM  `bigquery-public-data.austin_bikeshare.bikeshare_trips`)

                      second_most_start_station_name
0  Zilker Park at Barton Springs & William Barton...

# For trips lasted over an hour and were a round trip (started and stopped at the same station)

In [21]:
%%bigquery --project datavids

SELECT start_station_name, COUNTIF(start_station_name = end_station_name and duration_minutes > 60 ) as  max_round_trips_over_onehour
FROM  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name,duration_minutes
Order BY max_round_trips_over_onehour DESC

         start_station_name  max_round_trips_over_onehour
0      Riverside @ S. Lamar                           109
1      Riverside @ S. Lamar                            95
2      Riverside @ S. Lamar                            94
3      Riverside @ S. Lamar                            90
4               Zilker Park                            88
...                     ...                           ...
40930           26th/Nueces                             0
40931           26th/Nueces                             0
40932           26th/Nueces                             0
40933           26th/Nueces                             0
40934           26th/Nueces                             0

[40935 rows x 2 columns]