<a href="https://colab.research.google.com/github/prakha10/data-visualization.github.io/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Authencating  the Dataset form My project DataVids

In [36]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

#Finding out the number of  entries in the data set .ie  the number of Rows.

In [37]:
%%bigquery --project datavids
SELECT 
  COUNT(*) as total_rows
FROM  `bigquery-public-data.austin_bikeshare.bikeshare_stations`

   total_rows
0         101

In [40]:
%%bigquery --project datavids
SELECT 
  AVG(duration_minutes)
FROM  `bigquery-public-data.austin_bikeshare.bikeshare_trips`

         f0_
0  30.870428

# Finding out the longest trip using duration minutes .

In [42]:
%%bigquery --project datavids
SELECT *
FROM  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
limit 7

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6

[7 rows x 9 columns]

# grouping the data set using the trip id and bike id . adding all the minutes .

In [43]:
%%bigquery --project datavids df
SELECT 
  trip_id	, 
  bikeid,
  SUM(duration_minutes) as total_minutes
FROM  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE bikeid is not null
GROUP BY trip_id ,bikeid

In [44]:
df

            trip_id bikeid  total_minutes
0          13575843    302             47
1        9900287861    965             59
2        9900287864    983             58
3        9900288008    969             82
4        9900288274    198             76
...             ...    ...            ...
1424058    19972679   2277             43
1424059    19929621   309G             43
1424060    23058473  19211             43
1424061    23078274  19100             43
1424062    23532510  19251             43

[1424063 rows x 3 columns]

#Finding the average  trip duration in the dataset.

In [53]:
%%bigquery --project datavids
SELECT 
  AVG(table.duration_minutes) as average_duration_minutes
FROM  `bigquery-public-data.austin_bikeshare.bikeshare_trips`as table

   average_duration_minutes
0                 30.870428

In [46]:
import pandas as pd

groupeddf = df.groupby('trip_id')

In [47]:
maxdf = groupeddf.max()

In [48]:
maxdf

           bikeid  total_minutes
trip_id
8269930       460              4
8269933       195              2
8269945       311             20
8269946       877             20
8269949       273             16
...           ...            ...
9900352761    919             13
9900352762    933             13
9900352763    306             13
9900352764    409              6
9900352765     52             11

[1424063 rows x 2 columns]

In [49]:
mindf = groupeddf.min()

mindf

           bikeid  total_minutes
trip_id
8269930       460              4
8269933       195              2
8269945       311             20
8269946       877             20
8269949       273             16
...           ...            ...
9900352761    919             13
9900352762    933             13
9900352763    306             13
9900352764    409              6
9900352765     52             11

[1424063 rows x 2 columns]